[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.2
[submodule "voronoi"]
	path = lib/voronoi
	url = https://github.com/JCash/voronoi
	branch = master
