# Objects.
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# SConstruct
.sconf_temp
.sconsign.dblite
.scons-cache/

# CMake
cmake-build-*/
CMakeLists.txt

# MacOS
.DS_Store

# VSCode
.vscode/

# CLion
.idea/
compile_commands.json

# Godot 4+ specific ignores
demo/bin/*
!demo/bin/voronoi.gdextension
demo/.godot/*
!demo/.godot/extension_list.cfg

# Tests project
tests/demo/bin/*
!tests/demo/bin/voronoi.gdextension
tests/demo/.godot/*
!tests/demo/.godot/extension_list.cfg
